.text-black{
    color: black;
}

.text-white{
    color:white;
    margin-top: 3rem;
    align-items: center;   
}

.text-blue{
    color:#1ca4fc;
}

.resp{
    justify-content: flex-end;
}

.img{
    width: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.texto{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imagen{
    margin: 0.5rem;
    width: auto;
    border-radius: 0;
    border: 1px solid rgb(159, 159, 159);
}

.ads{
    width: auto;
    border-radius: 0;
    align-items: center;
}

.borde{
    border-radius: 0;
    text-align: center;
    margin-bottom: 2rem;
    border: 2px solid rgb(156, 182, 190);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    background-color:  rgb(156, 182, 190);
}

.espacio{
    border: 1rem solid #504e4b;
}

.footer{
    color: white;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.tel{   
    margin-right: 0.5rem;
}
