@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.App {
  text-align: center;
}



.App-header {
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

h1, h2 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

label {
  font-size: 15px;
  font-weight: 700;
  float: left;
}

.App-link {
  color: #61dafb;
}

p {
  color: #000;
  text-align: start;
  font-size: 15px;
}

.boton1{
  background-color: #33C3F0 !important;
  border-color: #33C3F0 !important;
  color: white !important;
}

.boton2 {
  border: 1px solid #bbb !important;
  color: #555 !important;
  background-color: white !important;
}

.scroll {
  overflow: hidden;
  height: auto;
  max-height: 37.5rem;
}
